# Ignore Python virtual env
venv/

# Node.js deps
rise-and-shine-webapp/backend/node_modules/


# Mac system files
.DS_Store

# Python cache
__pycache__/

# VSCode config
.vscode/

# Training artifacts
*.pth
*.pt
*.log
checkpoints/
dataset/

# Environment secrets
rise-and-shine-webapp/backend/.env
classification_model/.env

#datasets
test_dataset/
train_dataset/


